header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding: 1rem;
}

header > ul > li {
    margin-right: 2rem;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
header > h2 {
    margin-left: 2rem;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
}

article {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;
}

.profile > h1 {
    font-size: 3rem;
    padding-bottom: 1rem;
}

.profile > p {
    font-size: 1.2rem;
}

article > h2 {
    font-size: 1.3rem;
}

article > h1 {
    font-size: 2rem;
}

article * {
    margin: 0.2rem;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

article > img {
    height: 35rem;
}

article > a {
    margin-top: 0.7rem;
}

article > div {
    max-width: 35vw;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    background-color: grey;
    padding: .5rem 1rem;
    border-radius: 0.3rem;
}

a:hover {
    animation-name: fadeOut;
    animation-duration: 0.5s;
    background-color: #4e4e4e;
    box-shadow: 2px 2px 5px #4e4e4e;
}

a:not(:hover) {
    animation-name: fadeIn;
    animation-duration: 0.8s;
    background-color: grey;
}

a:active {
    background-color: #4e4e4e;
    box-shadow: 2px 2px 5px #4e4e4e;
}

.current {
    background-color: #4e4e4e !important;
    box-shadow: 2px 2px 5px #535353;
}

/*layout*/

.blog {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
}

#header, footer, .left-sidebar, .right-sidebar {
    padding: 10px;
}

#header {
    grid-column: 1 /4;
    background-color: red;

    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
}

.left-sidebar {
    grid-column: 1 / 2;
    background-color: yellow;
}

#main {
    grid-column: 2 / 3;
    background-color: purple;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-sidebar {
    grid-column: 3 / 4;
    background-color: orange;
}

#footer {
    grid-column: 1 / 4;
    background-color: blue;
    color: white;
}

@keyframes fadeOut {
    from {
        background-color: grey;
    }
    to {
        background-color: #4e4e4e;
        box-shadow: 2px 2px 5px #4e4e4e;
    }
}

@keyframes fadeIn {
    from {
        background-color: #4e4e4e;
        box-shadow: 2px 2px 5px #4e4e4e;
    }
    to {
        background-color: grey;
    }
}